.transaction-wrapper {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  flex-direction: column;
}

.transaction-array {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: white;
  box-sizing: border-box;
  padding: 20px;
}

.transacton-item-wrapper {
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  background-color: #00bc77;
  color: white;
}

.transaction-item {
  display: flex;
  box-sizing: border-box;
  /* background-color: #00bc77;
  color: white; */

  width: 100%;
  padding: 10px;
  justify-content: space-between;
}

.transaction-item-details {
  /* background-color: #00bc77;
  color: white; */
  width: 100%;
}
